In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("SugarData.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.head(10)

     STATE  Sugar_yield_acres  Crop_Year  Average_Temp  Average_Precip
0  Florida               3.50       1980         74.80            4.78
1  Florida               3.89       1981         76.90            2.85
2  Florida               3.71       1982         75.07            6.87
3  Florida               3.39       1983         73.13            5.27
4  Florida               3.80       1984         73.93            4.77
5  Florida               3.69       1985         75.50            4.12
6  Florida               3.78       1986         74.47            3.49
7  Florida               3.77       1987         73.77            3.43
8  Florida               3.88       1988         73.97            3.01
9  Florida               3.30       1989         75.07            5.00

In [6]:
df.shape

(52, 5)

In [8]:
df.describe()

       Sugar_yield_acres    Crop_Year  Average_Temp  Average_Precip
count          52.000000    52.000000     52.000000       52.000000
mean            3.477500  1992.500000     74.155192        4.913654
std             0.824673     7.573172      1.491463        1.479734
min             2.020000  1980.000000     70.100000        1.780000
25%             2.867500  1986.000000     73.252500        3.905000
50%             3.440000  1992.500000     74.065000        4.870000
75%             4.015000  1999.000000     75.070000        5.672500
max             5.520000  2005.000000     77.000000        8.220000

In [10]:
df.columns

Index(['STATE', 'Sugar_yield_acres', 'Crop_Year', 'Average_Temp',
       'Average_Precip'],
      dtype='object')